<div style="margin: auto; width: 75%">
    <div class="card display-flex mt-3 absolue">
        <!-- Default form register -->
        <form class="border border-light pt-3 pl-5 pr-5" id="contact-form" name="contact-form" action="https://formsubmit.co/patrick.boissier@wanadoo.fr" method="POST">
            <div>
                <i (click)="test()" class="fas fa-arrow-left"></i>
            </div>
            <p class="h4 mb-4 text-center">Renseignements personnels</p>
            <div class="row">
                <div class="col-sm">
                    <div class="md-form">
                        <label class="form-label" for="nomform">Nom</label>
                        <input type="text"  name="nom" class="form-control" id="nomform" required/>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="md-form">
                        <label class="form-label" for="prenomform">Prénom</label>
                        <input type="text"  name="prénom" class="form-control" id="prenomform" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="md-form">
                        <label class="form-label" for="mailform">Adresse mail</label>
                        <input type="email"  name="mail" class="form-control" id="mailform" required/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="md-form">
                        <label class="form-label" for="telform">Téléphone</label>
                        <input type="text"  name="téléphone" class="form-control" id="telform" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="md-form">
                        <label class="form-label" for="rueform">Adresse</label>
                        <input type="text"  name="adresse" class="form-control" id="rueform" required/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form">
                        <label class="form-label" for="villeform">Ville</label>
                        <input type="text"  name="ville" class="form-control" id="villeform" required/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="md-form">
                        <label class="form-label" for="codeform">Code Postal</label>
                        <input required type="number"  name="codePostal" class="form-control" id="codeform"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form">
                        <label class="form-label" for="paysform">Pays</label>
                        <input type="text" name="pays" class="form-control" id="paysform" required/>
                        <input type="hidden" name="_next" value="https://thearchreservation.eu/#/merci"/>
                        <input type="hidden" name="_subject" value="Demande de réservation."/>
                        <input type="hidden" name="_template" value="table"/>
                        <input type="hidden" name="données" value="{{donne}}"/>
                        <input type="hidden" name="mecenat" value="{{prixAvec}}"/>
                        <input type="hidden" name="cabine" value="{{prixSans}}"/>
                        <input type="hidden" name="_cc" value="carine.legargean@profilgrandlarge.fr,damien.grimont@profilgrandlarge.fr">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <h4><strong>Récapitulatif Commande :</strong></h4>
                <div class="row">
                    <div class="col-sm">
                        <div *ngIf="cab.exterieur != 0">Cabines vue mer : {{cab.exterieur}}</div>
                        <div *ngIf="cab.exterieur != 0">Nombre de personnes : {{cab.paxExterieur}}</div>
                    </div>
                    <div class="col-sm">
                        <div *ngIf="cab.balcon != 0">Cabines balcon : {{cab.balcon}}</div>
                        <div *ngIf="cab.balcon != 0">Nombre de personnes : {{cab.paxBalcon}}</div>
                    </div>
                    <div class="col-sm">
                        <div *ngIf="cab.luxe != 0">Cabines balcon luxe : {{cab.luxe}}</div>
                        <div *ngIf="cab.luxe != 0">Nombre de personnes : {{cab.paxLux}}</div>
                    </div>
                    <div class="col-sm">
                        <div *ngIf="cab.suite != 0">Suites premium : {{cab.suite}}</div>
                        <div *ngIf="cab.suite != 0">Nombre de personnes : {{cab.paxSuite}}</div>
                    </div>
                    <div class="col-sm">
                        <div *ngIf="cab.prestige != 0">Suites prestige : {{cab.prestige}}</div>
                        <div *ngIf="cab.prestige != 0">Nombre de personnes : {{cab.paxPrestige}}</div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
        <div class="col-md">
          <div>
            <br>
            <h5><strong>Montant total de la commande : {{prixTotal}} €</strong></h5>
          </div>
          <div>
            <h5><strong>Coût net par passager après impact fiscal : {{prixImpot}} €</strong>
            </h5>
          </div>
        </div>
        <div class="col-md">
          <div style="width: 40%; margin-left: 45%; position: relative;">
            <a class="btn color my-4 btn-block" onclick="document.getElementById('contact-form').submit();">Commander</a>
          </div>
        </div>
      </div>
            <p class="text-center">Return to <a href="https://www.the-arch.eu/">The Arch</a> website.
        </form>
    </div>
</div>