<div style="margin: auto; width: 61%">
  <div class="card display-flex mt-3 absolue">
    <!-- Default form register -->
    <form class="border border-light p-5" #register="ngForm" (ngSubmit)="resa(register.value)">
      <p class="h2 mb-4 text-center">Choix des cabines</p>
      <br>
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3 text-right">
          <strong>Nombre <br>de cabines</strong>
        </div>
        <div class="col-3">
          <strong>Nombre de personnes</strong> <br> (2/cabine maximum)
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col">
              <br>
              <strong>Montant</strong>
            </div>
            <div class="col">
              <strong>Coût net par personnes</strong>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h5>Cabine extérieure vue mer</h5>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="cabExt" class="form-control" min="0" required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="persExt" class="form-control" min="0" required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row" *ngIf="totalCout">
            <div class="col-sm text-center">
              <br>
              <div class="text-center">{{coutText}}</div>
            </div>
            <div class="col-sm">
              <br>
              <div class="text-center">{{fisccoutText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rouge text-center">
        <h6>{{msgExt}}</h6>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h5>Cabine extérieure balcon</h5>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="cabExtBalc" class="form-control" min="0" required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="persExtBalc" class="form-control" min="0" required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row" *ngIf="totalCout">
            <div class="col-sm text-center">
              <br>
              <div class="text-center">{{coutBalcText}}</div>
            </div>
            <div class="col-sm">
              <br>
              <div class="text-center">{{fisccoutBalcText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rouge text-center">
        <h6>{{msgExtBalc}}</h6>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h5>Cabine extérieure luxe</h5>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="cabLuxe" class="form-control" min="0" required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="persLuxe" class="form-control" min="0" required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row" *ngIf="totalCout">
            <div class="col-sm text-center">
              <br>
              <div class="text-center">{{coutLuxeText}}</div>
            </div>
            <div class="col-sm">
              <br>
              <div class="text-center">{{fisccoutLuxeText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rouge text-center">
        <h6>{{msgLuxe}}</h6>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h5>Suite Premium</h5>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="suite" class="form-control" min="0" required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="persSuite" class="form-control" min="0" required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row" *ngIf="totalCout">
            <div class="col-sm text-center">
              <br>
              <div class="text-center">{{coutSuiteText}}</div>
            </div>
            <div class="col-sm">
              <br>
              <div class="text-center">{{fisccoutSuiteText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rouge text-center">
        <h6>{{msgSuite}}</h6>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h5>Suite Prestige</h5>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="suitePres" class="form-control" min="0" required>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mt-3">
                <input type="number" ngModel="" name="persSuitePres" class="form-control" min="0" required>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row" *ngIf="totalCout">
            <div class="col-sm text-center">
              <br>
              <div class="text-center">{{coutPresText}}</div>
            </div>
            <div class="col-sm">
              <br>
              <div class="text-center">{{fisccoutPresText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rouge text-center">
        <br>
        <h6>{{msgSuitePres}}</h6>
      </div>

      <div *ngIf="test == 1">
        <br>
        <br>
        <h5><strong>Montant total des cabines :</strong> {{totalCout | number: '1.0-0'}} €</h5>
      </div>
      <div *ngIf="test == 1">
        <h5><strong>Coût net après impact fiscal par personne :</strong> {{totalFisc | number: '1.0-0'}} € / personne
        </h5>
      </div>
      <div *ngIf="test == 0">
        <button class="btn btn-info my-4 btn-block" type="submit">Valider</button>
      </div>
      <div *ngIf="test == 1">
        <button type="button" (click)="prix()" class="btn btn-info my-4 btn-block">réserver</button>
      </div>
      <div *ngIf="test > 0">
        <button type="button" (click)="reload()" class="btn btn-danger my-4 btn-block">Annuler</button>
      </div>

      <p class="text-center">Return to <a href="https://www.the-arch.eu/">The Arch</a> website.
    </form>
  </div>
</div>