<div style="margin: auto; width: 50%">
    <div class="card display-flex mt-5 absolue pt-3 pl-5 pr-5">

        <div class="text-center">
            <h4> Vous êtes : </h4>
        </div>
        <div class="row">
            <div class="col-md">
                <button type="button" (click)="navigToPart()" class="btn btn-lg color  my-4 btn-block"><strong>Un particulier</strong></button>
            </div>
            <div class="col-md">
                <button type="button" (click)="navigToEnt()" class="btn btn-lg color my-4 btn-block"><strong> Une entreprise</strong></button>
            </div>
        </div>
    </div>

</div>