<div style="margin: auto; width: 61%">
  <div class="card display-flex mt-3 absolue">
    <!-- Default form register -->
    <form class="border border-light p-5" #register="ngForm" (ngSubmit)="resa(register.value)">
      <div>
        <p class="h2 mb-4 text-center">Choix des cabines</p>
        <br>
        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-3 text-right">
            <strong>Nombre <br>de cabines</strong>
          </div>
          <div class="col-3">
            <strong>Nombre de personnes</strong> <br> (2/cabine maximum)
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col">
                <br>
                <strong>Montant</strong>
              </div>
              <div class="col">
                <strong>Coût net par personne</strong>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5>Cabine extérieure vue mer</h5>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputExt($event)" (click)="InputExt($event)" ngModel="0" name="cabExt"
                    class="form-control" min="0">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputExt2($event)" (click)="InputExt2($event)" ngModel="{{nbrPerExt}}"
                    name="persExt" class="form-control" max="{{nbrCabExt*2}}" min="{{nbrCabExt}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm text-center">
                <br>
                <div class="text-center">{{prixTotExt}}</div>
              </div>
              <div class="col-sm">
                <br>
                <div class="text-center">{{fiscExt}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rouge text-center">
          <h6>{{msgExt}}</h6>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5>Cabine extérieure balcon</h5>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputBalc($event)" (click)="InputBalc($event)" ngModel="0"
                    name="cabExtBalc" class="form-control" min="0">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputBalc2($event)" (click)="InputBalc2($event)"
                    ngModel="{{nbrPerBalc}}" name="persExtBalc" class="form-control" max="{{nbrCabBalc*2}}"
                    min="{{nbrCabBalc}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm text-center">
                <br>
                <div class="text-center">{{prixTotBalc}}</div>
              </div>
              <div class="col-sm">
                <br>
                <div class="text-center">{{fiscBalc}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rouge text-center">
          <h6>{{msgExtBalc}}</h6>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5>Cabine extérieure luxe</h5>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputLux($event)" (click)="InputLux($event)" ngModel="0" name="cabLuxe"
                    class="form-control" min="0">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputLux2($event)" (click)="InputLux2($event)" ngModel="{{nbrPerLux}}"
                    name="persLuxe" class="form-control" max="{{nbrCabLux*2}}" min="{{nbrCabLux}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm text-center">
                <br>
                <div class="text-center">{{prixTotLux}}</div>
              </div>
              <div class="col-sm">
                <br>
                <div class="text-center">{{fiscLux}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rouge text-center">
          <h6>{{msgLuxe}}</h6>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5>Suite Premium</h5>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputSuite($event)" (click)="InputSuite($event)" ngModel="0"
                    name="suite" class="form-control" min="0">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputSuite2($event)" (click)="InputSuite2($event)"
                    ngModel="{{nbrPerSuite}}" name="persSuite" class="form-control" max="{{nbrCabSuite*2}}"
                    min="{{nbrCabSuite}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm text-center">
                <br>
                <div class="text-center">{{prixTotSuite}}</div>
              </div>
              <div class="col-sm">
                <br>
                <div class="text-center">{{fiscSuite}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rouge text-center">
          <h6>{{msgSuite}}</h6>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5>Suite Prestige</h5>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputPres($event)" (click)="InputPres($event)" ngModel="0"
                    name="suitePres" class="form-control" min="0">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="mt-3">
                  <input type="number" (keyup)="InputPres2($event)" (click)="InputPres2($event)"
                    ngModel="{{nbrPerPres}}" name="persSuitePres" class="form-control" max="{{nbrCabPres*2}}"
                    min="{{nbrCabPres}}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm text-center">
                <br>
                <div class="text-center">{{prixTotPres}}</div>
              </div>
              <div class="col-sm">
                <br>
                <div class="text-center">{{fiscPres}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="rouge text-center">
          <br>
          <h6>{{msgSuitePres}}</h6>
        </div>
      </div>

      <div>
        <br>
        <h5><strong>Montant total de la commande : {{totalCout}} €</strong></h5>
      </div>
      <div>
        <h5><strong>Coût net par passager après impact fiscal : {{totalFisc}} € / personne </strong>
        </h5>
      </div>
      <div style="width: 30%; margin: auto;">
        <button class="btn btn-info my-4 btn-block" type="submit">Réserver</button>
      </div>
      <div style="width: 30%; margin: auto;">
        <button type="button" (click)="reload()" class="btn btn-danger my-4 btn-block">Annuler</button>
      </div>

      <p class="text-center">Return to <a href="https://www.the-arch.eu/">The Arch</a> website.
    </form>
  </div>
</div>